body {
    background-color: #000000;
    color: #00ff00;
}
h1 {
    text-align: center;
}
#left-container {
    display:inline-block;
    box-sizing: border-box;
    background-color: red;
    width: 70%;
}